*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 30px;
    opacity: 0.8;
}

h2{
    color:#658ec6;
    font-weight: 500;
    opacity: 0.8;
}

p{
    color:#4a4c4f;
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.nav_li a{
    color: #426696;
    font-size: 19px;
    font-weight: 600;
    opacity: 0.8;
    text-decoration: none;
}

main{
    font-family: sans-serif;
    min-height: 100vh;
    background-image: url(images/a.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    flex-direction: column;
    border-bottom: -10px;
    padding-left: 75px;
}
header h1{
    color: white;
    font-size: 40px;
    opacity: 1;
}

footer{
    width: 100%;
    padding-left: 20px;
    margin-top: 25px;
    background-color: white;
    font-size: 12px;
    color: rgb(134, 134, 134);
}

.glass{
    background: white;
    min-height: 90vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 2255, 255, 0.2));
    border-radius: 12px;
    backdrop-filter: blur(5px);
    display: flex;
}

.glass img{
    width: 110px;
}

.nav{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 12px;
}

.nav_li{
    list-style-type: none;
    display: flex;
    margin: 20px 0;
    padding: 1px 5px;
}

.nav_li:hover{
    border-bottom: 5px solid white;
}

.sns{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 25px;
}

.article{
    flex: 3;
    padding: 30px;
}

.card{
    width: 90%;
    height: 530px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 2255, 255, 0.2));
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5) ;
    overflow: scroll;
}

.colorscripter-code{
    padding-left: 30px;
    border-radius: 10px;
}

.card img{
    width: 600px;
    height: 440px;
}

